<button (click)="console.log('App btn clicked')" [style.background-color]="(subject$|async) ? 'red' : 'white'">App component</button>
<h1 style="display: flex; height: 100px; width: 100%; border: 1px solid black">
  <button style="margin: auto;" (click)="console.log('Header clicked')">Header component</button>
</h1>


<div *ngIf="reEvaluate()"></div>

<p>router outlet</p>
<div style="display: flex; gap: 16px; justify-content: center;">
  <app-lv1></app-lv1>
  <router-outlet></router-outlet>
</div>

